importFrom("grDevices", "heat.colors")
importFrom("graphics", "abline", "axis", "boxplot", "hist", "legend",
             "lines", "matplot", "mtext", "par", "plot", "points",
             "polygon", "rect", "text")
importFrom("stats", "binomial", "deriv", "glm", "pbeta", "pnorm",
             "predict", "qchisq", "qt", "rbinom", "rchisq", "rmultinom",
             "rnorm", "runif", "sd", "var")
S3method(mean,list)
export(Kendall)
export(LTRE)
export(QPmat)
export(aq.matrix)
export(betaval)
export(boot.transitions)
export(countCDFxt)
export(damping.ratio)
export(eigen.analysis)
export(elasticity)
export(extCDF)
export(fundamental.matrix)
export(generation.time)
export(head2)
export(hudmxdef)
export(image2)
export(lambda)
export(lnorms)
export(logi.hist.plot)
export(matplot2)
export(matrix2)
export(multiresultm)
export(net.reproductive.rate)
export(pfister.plot)
export(pop.projection)
export(projection.matrix)
export(reproductive.value)
export(resample)
export(secder)
export(sensitivity)
export(splitA)
export(stable.stage)
export(stage.vector.plot)
export(stoch.growth.rate)
export(stoch.projection)
export(stoch.quasi.ext)
export(stoch.sens)
export(stretchbetaval)
export(var2)
export(varEst)
export(vitalsens)
export(vitalsim)
